<div class="footer">
    <div class="row">
        <div class="col-md-4 center-content">
            <span class="tennis-w-img footer-img"></span>
        </div>
        <div class="col-md-4 center-content">
            <span class="tennis-m-img footer-img"></span>
        </div>
        <div class="col-md-4 center-content">
            <span class="jazz-img footer-img"></span>
        </div>
    </div>
    <div class="row center-content">
        <span class="text-black-50"><kbd><small>PMG & ZIoT</small></kbd></span>
    </div>
    <div class="row center-content mt-5">
        <div class="col-sm">
            Image by <a href="https://pixabay.com/users/GDJ-1086657/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4045177">Gordon Johnson</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4045177">Pixabay</a>
        </div>
        <div class="col-sm">
            Image by <a href="https://pixabay.com/users/mohamed_hassan-5229782/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2840947">mohamed Hassan</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2840947">Pixabay</a>
        </div>
        <div class="col-sm">
            Image by <a href="https://pixabay.com/users/mohamed_hassan-5229782/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3130172">mohamed Hassan</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3130172">Pixabay</a>
        </div>
    </div>
</div>
