<div class="footer">
    <div class="row">
        <div class="col-md-4 center-content">
            <span class="tennis-w-img footer-img"></span>
        </div>
        <div class="col-md-4 center-content">
            <span class="tennis-m-img footer-img"></span>
        </div>
        <div class="col-md-4 center-content">
            <span class="jazz-img footer-img"></span>
        </div>
    </div>
    <div class="row center-content">
        <span class="text-black-50"><kbd><small>PMG & ZIoT</small></kbd></span>
    </div>
</div>
