<div>
    <h2 id="page-heading">
        <span jhiTranslate="tennisJazzApp.tournamentGroup.home.title">Tournament Groups</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tournament-group-tennis" [routerLink]="['/tournament-group-tennis/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="tennisJazzApp.tournamentGroup.home.createLabel">
            Create new Tournament Group
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="tournamentGroups?.length === 0">
        <span jhiTranslate="tennisJazzApp.tournamentGroup.home.notFound">No tournamentGroups found</span>
    </div>
    <div class="table-responsive" *ngIf="tournamentGroups?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="tennisJazzApp.tournamentGroup.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tournament.id"><span jhiTranslate="tennisJazzApp.tournamentGroup.tournament">Tournament</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let tournamentGroup of tournamentGroups ;trackBy: trackId">
                <td><a [routerLink]="['/tournament-group-tennis', tournamentGroup.id, 'view' ]">{{tournamentGroup.id}}</a></td>
                <td>{{tournamentGroup.name}}</td>
                <td>
                    <div *ngIf="tournamentGroup.tournament">
                        <a [routerLink]="['../tournament-tennis', tournamentGroup.tournament?.id, 'view' ]" >{{tournamentGroup.tournament?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/tournament-group-tennis', tournamentGroup.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tournament-group-tennis', tournamentGroup.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'tournament-group-tennis', { outlets: { popup: tournamentGroup.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
