<div class="Tournament-rounds" fxLayout="column" fxLayoutAlign="space-between stretch">
    <div class="round-selector-bar ">
        <div class="Draw-rounds wrapper" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex fxLayoutGap.xs="15px"  >
            <div fxFlex fxLayoutAlign="start">{{group.tournament.name}}</div>
            <div fxFlex fxLayoutAlign="end" fxLayoutAlign.xs="start" fxLayoutAlign.sm="start"><span
                class="Draw-round__date">Club LigadoXElTenis</span></div>
        </div>
    </div>
    <div class="round-selector-bar ">
        <div class="Draw-rounds wrapper">
            <ul>
                <li >
                    <a [routerLink]="['/tournament-group-tennis', group.id, 'view-rounds' ]"> id=""><span>Jornadas</span></a>
                </li>
                <li >
                    <a id=""><span>Clasificación</span></a>
                </li>
                <li >
                    <a id=""><span>Jugadores</span></a>
                </li>
            </ul>
        </div>
        <div class="Draw-rounds_xs center-content">
            <mat-form-field>
                <mat-label>Rounds</mat-label>
                <mat-select>
                    <mat-option *ngFor="let tournamentGroup of tournamentGroups" [value]="tournamentGroup.id">
                        {{tournamentGroup.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="round-selector-bar ">
        <div class="Draw-rounds wrapper">
            <ul>
                <li *ngFor="let tournamentGroup of tournamentGroups; index as i">
                    <a id="drawRound_{{i}}"  [className]="tournamentGroup.id === group.id ? 'selected': ''"  ><span>{{tournamentGroup.name}}</span></a>
                </li>
            </ul>
        </div>
        <div class="Draw-rounds_xs center-content">
            <mat-form-field>
                <mat-label>Rounds</mat-label>
                <mat-select>
                    <mat-option *ngFor="let tournamentGroup of tournamentGroups" [value]="tournamentGroup.id">
                        {{tournamentGroup.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <jhi-alert></jhi-alert>

    <div class="Rounds-wrapper container" >
        <div class="Round center-content" *ngFor="let round of rounds">
            <div class="Draw-round">
                <div class="Draw-round__name Draw-round__name--left">
                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex fxLayoutGap.xs="15px"  >
                        <div fxFlex fxLayoutAlign="start">{{round.name}}</div>
                        <div fxFlex fxLayoutAlign="end" fxLayoutAlign.xs="start" fxLayoutAlign.sm="start"><span
                            class="Draw-round__date">Del {{round.startDate|date}} al {{round.endDate|date}}</span></div>
                    </div>
                </div>
                <jhi-round-tennis-match-list class="Match__selector"  [round]="round"></jhi-round-tennis-match-list>
            </div>
        </div>
    </div>
</div>

