<div class="alert alert-warning" *ngIf="matches?.length === 0">
    <span jhiTranslate="tennisJazzApp.match.home.notFound">No Matches found</span>
</div>
<div class="table-responsive" *ngIf="matches?.length > 0">
    <table *ngFor="let match of matches" class="table table-striped ">
        <tbody >
            <tr>
                <th scope="row">{{match.localPlayer.name}} {{match.localPlayer.surname}}</th>
                <td>{{match.localPlayerSet1Result}}</td>
                <td>{{match.localPlayerSet2Result}}</td>
                <td>{{match.localPlayerSet3Result}}</td>
            </tr>
            <tr>
                <th scope="row">{{match.visitorPlayer.name}} {{match.visitorPlayer.surname}}</th>
                <td>{{match.visitorPlayerSet1Result}}</td>
                <td>{{match.visitorPlayerSet2Result}}</td>
                <td>{{match.visitorPlayerSet3Result}}</td>
            </tr>
        </tbody>
    </table>
</div>

