<div>
    <h2 id="page-heading">
        <span jhiTranslate="tennisJazzApp.match.home.title">Matches</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-match-tennis" [routerLink]="['/match-tennis/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="tennisJazzApp.match.home.createLabel">
            Create new Match
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="matches?.length === 0">
        <span jhiTranslate="tennisJazzApp.match.home.notFound">No matches found</span>
    </div>
    <div class="table-responsive" *ngIf="matches?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="player1Set1Result"><span jhiTranslate="tennisJazzApp.match.player1Set1Result">Player 1 Set 1 Result</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="player2Set1Result"><span jhiTranslate="tennisJazzApp.match.player2Set1Result">Player 2 Set 1 Result</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="player1Set2Result"><span jhiTranslate="tennisJazzApp.match.player1Set2Result">Player 1 Set 2 Result</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="player2Set2Result"><span jhiTranslate="tennisJazzApp.match.player2Set2Result">Player 2 Set 2 Result</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="player1Set3Result"><span jhiTranslate="tennisJazzApp.match.player1Set3Result">Player 1 Set 3 Result</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="player2Set3Result"><span jhiTranslate="tennisJazzApp.match.player2Set3Result">Player 2 Set 3 Result</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="localPlayerSets"><span jhiTranslate="tennisJazzApp.match.localPlayerSets">Local Player Sets</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="visitorPlayerSets"><span jhiTranslate="tennisJazzApp.match.visitorPlayerSets">Visitor Player Sets</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="localPlayerAbandoned"><span jhiTranslate="tennisJazzApp.match.localPlayerAbandoned">Local Player Abandoned</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="visitorPlayerAbandoned"><span jhiTranslate="tennisJazzApp.match.visitorPlayerAbandoned">Visitor Player Abandoned</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="localPlayerNotPresent"><span jhiTranslate="tennisJazzApp.match.localPlayerNotPresent">Local Player Not Present</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="visitorPlayerNotPresent"><span jhiTranslate="tennisJazzApp.match.visitorPlayerNotPresent">Visitor Player Not Present</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="round.id"><span jhiTranslate="tennisJazzApp.match.round">Round</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="visitorPlayer.id"><span jhiTranslate="tennisJazzApp.match.visitorPlayer">Visitor Player</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="localPlayer.id"><span jhiTranslate="tennisJazzApp.match.localPlayer">Local Player</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let match of matches ;trackBy: trackId">
                <td><a [routerLink]="['/match-tennis', match.id, 'view' ]">{{match.id}}</a></td>
                <td>{{match.player1Set1Result}}</td>
                <td>{{match.player2Set1Result}}</td>
                <td>{{match.player1Set2Result}}</td>
                <td>{{match.player2Set2Result}}</td>
                <td>{{match.player1Set3Result}}</td>
                <td>{{match.player2Set3Result}}</td>
                <td>{{match.localPlayerSets}}</td>
                <td>{{match.visitorPlayerSets}}</td>
                <td>{{match.localPlayerAbandoned}}</td>
                <td>{{match.visitorPlayerAbandoned}}</td>
                <td>{{match.localPlayerNotPresent}}</td>
                <td>{{match.visitorPlayerNotPresent}}</td>
                <td>
                    <div *ngIf="match.round">
                        <a [routerLink]="['../round-tennis', match.round?.id, 'view' ]" >{{match.round?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="match.visitorPlayer">
                        <a [routerLink]="['../player-tennis', match.visitorPlayer?.id, 'view' ]" >{{match.visitorPlayer?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="match.localPlayer">
                        <a [routerLink]="['../player-tennis', match.localPlayer?.id, 'view' ]" >{{match.localPlayer?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/match-tennis', match.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/match-tennis', match.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'match-tennis', { outlets: { popup: match.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
