@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/cerulean/variables';
@import '~bootstrap/scss/variables';

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* other generic styles */

.jh-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;

    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }

    .popover pre {
      font-size: 10px;
    }
  }

  .jhi-toast {
    position: fixed;
    width: 100%;

    &.left {
      left: 5px;
    }

    &.right {
      right: 5px;
    }

    &.top {
      top: 55px;
    }

    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > {
  dd {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .row.jh-entity-details > {
    dt {
      margin-bottom: 15px;
    }

    dd {
      border-bottom: 1px solid #eee;
      padding-left: 180px;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* jhipster-needle-scss-add-main JHipster will add new css style */

/* ==========================================================================
custom css styles
========================================================================== */

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .wrapper {
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1280px;
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 1264px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding-left: 24px;
    padding-right: 24px;
    max-width: 1248px;
  }
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1240px;
}

.container-fluid {
  padding: 0px !important;
}

.jh-card {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* ================== match and round styles ============================= */

/*.Match__selector > div {
  margin-top: 12px;
  margin-bottom: 12px;
}*/
.Match__body {
  padding: 0 16px 8px;
  border: 2px solid #ebedf0;
  background-color: #fff;
}

.Match_wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

.Match__body:hover {
  border: 2px solid #da291c;
}

.Match__line:not(:last-child) {
  border-bottom: 2px solid #ebedf0;
}

.Match__line {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  min-height: 64px;
}

.Match__line--winner .Match__player,
.Match__line--winner .Match__set {
  font-weight: 700;
}

.Match__player__holder {
  position: relative;
  -webkit-box-flex: 1;
  flex: 1;
}

.Match__player:last-child {
  margin-bottom: 0;
}

.Match__player:first-child {
  margin-bottom: 4px;
}

.Match__player {
  color: #1e1e1e;
  font-size: 14px;
  line-height: 24px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.Match__player__i {
  display: none;
}

@media screen and (max-width: 1023px) {
  .Match__player__fn {
    display: none;
  }
  .Match__player__i {
    display: inline-block;
  }
}

.Match__winner {
  margin-right: 16px;
}

.Match__winner svg * {
  fill: #da291c;
}

.Match__winner svg {
  display: -webkit-inline-box;
  display: inline-flex;
}

.Match__line--winner .Match__player,
.Match__line--winner .Match__set {
  font-weight: 700;
}

.Match__set {
  color: #1e1e1e;
  font-size: 14px;
  line-height: 24px;
}

.Match__set ul {
  display: -webkit-box;
  display: flex;
  margin-top: 0;
  margin-bottom: 0rem;
}

.Match__set li {
  padding-top: 6px;
  padding-bottom: 6px;
  width: 20px;
  text-align: center;
}

ol,
ul {
  list-style-type: none;
}

ul {
  list-style: none;
}

.Draw-round {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  justify-content: space-around;
  //width: 50%;
  position: relative;
  padding-top: 70px;
}

.Draw-round > div {
  margin-top: 12px;
  margin-bottom: 12px;
}

.Draw-round__name--left {
  width: calc(100% - 64px);
}

.Draw-round__name {
  font-size: 13px;
  line-height: 16px;
  color: #da291c;
  font-weight: 700;
  padding-bottom: 16px;
  border-bottom: 2px solid #da291c;
  width: 100%;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 0 !important;
}

.Draw-round__date {
  color: #1e1e1e;
  position: relative;
  font-size: 80%;
  vertical-align: baseline;
}

@media screen and (max-width: 767px) {
  .Draw-round:first-child {
    //width: 100%;
  }
  .Draw-round:first-child > div {
    padding-right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .Draw-round:first-child {
    //width: 50%;
  }
}

/* ================== round selector style ============================= */
/*
.round-selector-bar {
  padding-top: 12px;
  background-color: #f7f7f7;
  border-bottom: 2px solid #ebedf0;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.Draw-rounds,
.Draw-rounds ul {
  display: -webkit-box;
  display: flex;
}

.Draw-rounds {
  font-size: 75%;
  line-height: 16px;
  font-weight: 700;
  color: #888;
  text-transform: uppercase;
  -webkit-box-pack: center;
  justify-content: center;
}

.Draw-rounds li {
  padding-left: 6px;
  padding-right: 6px;
}

.Draw-rounds a.selected {
  color: #1e1e1e;
  border: 2px solid #1e1e1e;
  border-radius: 20px;
  padding: 3px 10px;
}

.Draw-rounds a {
  text-decoration: none;
  color: inherit;
}

.Draw-rounds_xs {
  display: block;
}

@media screen and (min-width: 768px) {
  .Draw-rounds_xs {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .Draw-rounds {
    display: none;
  }
}
*/
/* ================== material select styles ============================= */
/*
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #da291c;
}
.mat-form-field.mat-focused {
  color: #da291c !important;
}
.mat-form-field-label {
  color: #da291c !important;
}
.mat-form-field.mat-focused.mat-primary {
  color: #da291c !important;
}

.mat-form-field-ripple {
  background-color: #da291c !important;
}
*/

/* ===================================== custom mat-tab-group ============================= */

.mat-tab-tournament-view .mat-tab-header {
  font-weight: 700;
  text-transform: uppercase;
}

.mat-tab-tournament-view .tournament-mat-tab-body {
  margin-top: 15px;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #9840f0;
  height: 5px;
}

/*.mat-tab-tournament-view .mat-tab-group.mat-primary:hover .mat-ink-bar,
.mat-tab-tournament-view .mat-tab-nav-bar.mat-primary:hover .mat-ink-bar {
  background-color: #9840f0;
  height: 5px;
}*/

/* ===================================== custom tournament-card ============================= */

.tournament-card .mat-card {
  background-color: #ff2882;
  color: #ffffff;
}
.tournament-card .mat-card-subtitle {
  color: #37003c;
}

.tournament-card .mat-card-avatar {
  background-size: cover;
}

.tournament-card .card-phone-number {
  position: relative;
  bottom: 5px;
}
.tournament-card mat-card-title {
  font-size: 24px !important;
  font-weight: 500;
}

/* ===================================== custom navigator ============================= */

.dropdown-item {
  color: #ffffff !important;
  background-color: #ee2982 !important;
}

.dropdown-item:hover {
  text-decoration: underline !important;
  background-color: #ee2982 !important;
}

.dropdown-menu {
  padding: 0 !important;
}

/* ===================================== custom mat-card for players ============================= */

/* ===================================== custom styles ========================================== */

hr {
  margin-top: 0rem;
  margin-bottom: 1rem;
  border-top: 0px solid rgba(0, 0, 0, 0.1);
  border-color: #da291c;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #1e1e1e;
}

/* ===================================== custom styles ========================================== */

.colores {
  color: #3f1052;
  color: #00ff87;
  color: #e90052;
  color: #ff2882;
}

.text-pink {
  color: #e90052;
}

.btn-white {
  background-color: #fff;
  color: #2f2f2f;
}

.btn-white:hover {
  background-color: #00ff87;
  color: #fff;
}

.bg-purple {
  background-image: none !important;
  background-color: #3f1052 !important;
}

.bg-pink {
  background-image: none !important;
  background-color: #ff2882 !important;
}

.btn-outline-purple,
.btn-outline-purple:hover {
  border-color: #38003c;
}

.btn-outline-purple {
  border-radius: var(--border-radius);
}

.btn-outline-purple:hover {
  box-shadow: inset 0 0 0 20rem var(--darken-1);
}

.btn-outline-purple:active {
  box-shadow: inset 0 0 0 20rem var(--darken-2), inset 0 3px 4px 0 var(--darken-3), 0 0 1px var(--darken-2);
}

.btn-outline-purple:disabled,
.btn-outline-purple.is-disabled {
  opacity: 0.5;
}

/* ===================================== footer ========================================== */

.footer {
  background-color: #3f1052;
}

.footer-img {
  margin: 25px;
  height: 100px;
  width: 100px;
  display: inline-block;
  vertical-align: middle;
}

.jazz-img {
  background: url('../images/jazz-inverse-white.png') no-repeat center center;
  background-size: contain;
}

.tennis-w-img {
  background: url('../images/tennis-white.png') no-repeat center center;
  background-size: contain;
}

.tennis-m-img {
  background: url('../images/tennis-man-white.png') no-repeat center center;
  background-size: contain;
}
