<jhi-alert></jhi-alert>

<button md-raised-button (click)="changeTab()">Click me!</button>
<mat-grid-list  class="text-uppercase border-bottom" cols="1" rowHeight="40px" >
    <mat-grid-tile><h4>{{tournament.name__}}</h4></mat-grid-tile>
</mat-grid-list>
<mat-tab-group mat-align-tabs="center" [selectedIndex]="selectedPrincipalTab">
    <mat-tab label="{{ 'tennisJazzApp.ranking.home.title' | translate }}" >
        <ng-template matTabContent>
            <mat-tab-group>
                <mat-tab *ngFor="let tournamentGroup of tournamentGroups;" label="{{tournamentGroup.name}}">
                    <div class="tournament-mat-tab-body">
                        <jhi-tournament-tennis-group-ranking [group]="tournamentGroup"></jhi-tournament-tennis-group-ranking>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </ng-template>
    </mat-tab>
    <mat-tab label="{{ 'tennisJazzApp.round.home.title' | translate }}">
        <ng-template matTabContent>
            <mat-tab-group>
                <mat-tab *ngFor="let tournamentGroup of tournamentGroups;" label="{{tournamentGroup.name}}">
                    <div class="tournament-mat-tab-body">
                        <jhi-tournament-tennis-group-rounds [group]="tournamentGroup"></jhi-tournament-tennis-group-rounds>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </ng-template>
    </mat-tab>
    <mat-tab label="{{ 'tennisJazzApp.player.home.title' | translate }}">
        <ng-template matTabContent>
            <mat-tab-group>
                <mat-tab *ngFor="let tournamentGroup of tournamentGroups;" label="{{tournamentGroup.name}}">
                    <div class="tournament-mat-tab-body">
                        <jhi-tournament-tennis-group-player [group]="tournamentGroup"></jhi-tournament-tennis-group-player>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </ng-template>
    </mat-tab>
</mat-tab-group>


