<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-tournament-tennis-heading" jhiTranslate="tennisJazzApp.tournament.home.createOrEditLabel">Create or edit a Tournament</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tennisJazzApp.tournament.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tennisJazzApp.tournament.startDate" for="field_startDate">Start Date</label>
                    <div class="input-group">
                        <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker  #startDateDp="ngbDatepicker" formControlName="startDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('startDate').invalid && (editForm.get('startDate').dirty || editForm.get('startDate').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('startDate').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tennisJazzApp.tournament.endDate" for="field_endDate">End Date</label>
                    <div class="input-group">
                        <input id="field_endDate" type="text" class="form-control" name="endDate" ngbDatepicker  #endDateDp="ngbDatepicker" formControlName="endDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tennisJazzApp.tournament.inProgress" for="field_inProgress">In Progress</label>
                    <input type="checkbox" class="form-control" name="inProgress" id="field_inProgress"
                           formControlName="inProgress"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tennisJazzApp.tournament.winPoints" for="field_winPoints">Win Points</label>
                    <input type="number" class="form-control" name="winPoints" id="field_winPoints"
                           formControlName="winPoints"/>
                    <div *ngIf="editForm.get('winPoints').invalid && (editForm.get('winPoints').dirty || editForm.get('winPoints').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('winPoints').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('winPoints')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tennisJazzApp.tournament.lossPoints" for="field_lossPoints">Loss Points</label>
                    <input type="number" class="form-control" name="lossPoints" id="field_lossPoints"
                           formControlName="lossPoints"/>
                    <div *ngIf="editForm.get('lossPoints').invalid && (editForm.get('lossPoints').dirty || editForm.get('lossPoints').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lossPoints').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('lossPoints')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tennisJazzApp.tournament.notPresentPoints" for="field_notPresentPoints">Not Present Points</label>
                    <input type="number" class="form-control" name="notPresentPoints" id="field_notPresentPoints"
                           formControlName="notPresentPoints"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tennisJazzApp.tournament.injuredPoints" for="field_injuredPoints">Injured Points</label>
                    <input type="number" class="form-control" name="injuredPoints" id="field_injuredPoints"
                           formControlName="injuredPoints"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
