<div *ngIf="matches?.length === 0" class="alert alert-warning">
    <span jhiTranslate="tennisJazzApp.match.home.notFound">No Matches found</span>
</div>
<div class="container">
    <div class="row">
        <div class="Match_wrapper container" [ngClass]="{'col-md-6' : isShowingAllRounds == false}" *ngFor="let match of matches" [ngSwitch]="isAuthenticated()">
            <div class="Match">
                <div class="Match__body">
                    <div class="Match__line"
                         [ngClass]="{'Match__line--winner' : match.localPlayerSets > match.visitorPlayerSets || match.visitorPlayerAbandoned || match.visitorPlayerNotPresent}">
                        <div class="Match__player__holder">
                            <div class="Match__player">
                                <span class="Match__player__fn">{{match.localPlayer.name}}</span>
                                <span class="Match__player__i">{{match.localPlayer.name|slice : 0 : 1}}.</span>&nbsp;
                                <span class="Match__player__ln">{{match.localPlayer.surname}}</span>
                                <!--<span class="Match__player__seed">[16]</span> -->
                            </div>
                        </div>
                        <div class="Match__winner"
                             *ngIf="match.localPlayerSets > match.visitorPlayerSets || match.visitorPlayerAbandoned || match.visitorPlayerNotPresent">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="m5.23685955 13.7247081-4.23685955-6.05086255 1.63830409-1.14715287 2.869736 4.09840772 8.62510041-8.6251004 1.4142136 1.41421356z"></path>
                            </svg>
                        </div>
                        <div class="Match__set">
                            <ul><!---->
                                <li>
                                    {{match.localPlayerSet1Result}}
                                    <sup *ngIf="match.localPlayerTBSet1Result != null">
                                        {{match.localPlayerTBSet1Result}}
                                    </sup>
                                </li>
                                <li>
                                    {{match.localPlayerSet2Result}}
                                    <sup *ngIf="match.localPlayerTBSet2Result != null">
                                        {{match.localPlayerTBSet2Result}}
                                    </sup>
                                </li>
                                <li *ngIf="match.localPlayerSet3Result != null">
                                    {{match.localPlayerSet3Result}}
                                    <sup *ngIf="match.localPlayerTBSet3Result != null">
                                        {{match.localPlayerTBSet3Result}}
                                    </sup>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="Match__line"
                         [ngClass]="{'Match__line--winner' : match.localPlayerSets < match.visitorPlayerSets || match.localPlayerAbandoned || match.localPlayerNotPresent}">
                        <div class="Match__player__holder">
                            <div class="Match__player">
                                <span class="Match__player__fn">{{match.visitorPlayer.name}}</span>
                                <span class="Match__player__i">{{match.visitorPlayer.name|slice : 0 : 1}}.</span>&nbsp;
                                <span class="Match__player__ln">{{match.visitorPlayer.surname}}</span>
                                <!--<span class="Match__player__seed">[16]</span> -->
                            </div>
                        </div>
                        <div class="Match__winner"
                             *ngIf="match.visitorPlayerSets > match.localPlayerSets || match.localPlayerAbandoned || match.localPlayerNotPresent">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="m5.23685955 13.7247081-4.23685955-6.05086255 1.63830409-1.14715287 2.869736 4.09840772 8.62510041-8.6251004 1.4142136 1.41421356z"></path>
                            </svg>
                        </div>
                        <div class="Match__set">
                            <ul><!---->
                                <li>
                                    {{match.visitorPlayerSet1Result}}
                                    <sup *ngIf="match.visitorPlayerTBSet1Result != null">
                                        {{match.visitorPlayerTBSet1Result}}
                                    </sup>
                                </li>
                                <li>
                                    {{match.visitorPlayerSet2Result}}
                                    <sup *ngIf="match.visitorPlayerTBSet2Result != null">
                                        {{match.visitorPlayerTBSet2Result}}
                                    </sup>
                                </li>
                                <li *ngIf="match.visitorPlayerSet3Result != null">
                                    {{match.visitorPlayerSet3Result}}
                                    <sup *ngIf="match.visitorPlayerTBSet3Result != null">
                                        {{match.visitorPlayerTBSet3Result}}
                                    </sup>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row center-content" *ngSwitchCase="true">
                <button id="jh-create-entity"
                        class="btn-xs btn-primary btn-xs float-left jh-create-entity"
                        [routerLink]="['/match-tennis', match.id, 'new-update']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                    <span jhiTranslate="tennisJazzApp.match.home.editLabel">
                Edit Match
                </span>
                </button>
            </div>
        </div>
    </div>
</div>
