<jhi-alert></jhi-alert>
<div class="container m-0 m-sm-2 p-0 p-sm-2" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="space-between stretch" >
    <div *ngFor="let group of groups">
        <mat-card>
            <mat-card-header style="background-color:#6aa6d69c">
                <mat-card-title >{{group.name}}</mat-card-title>
                <mat-card-subtitle>{{group.tournament.name}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <jhi-tournament-tennis-group-ranking [group]="group"></jhi-tournament-tennis-group-ranking>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button [routerLink]="['/tournament-group-tennis', group.id, 'view-rounds' ]">
                    <span class="d-md-inline" jhiTranslate="tennisJazzApp.round.home.title">ROUNDS</span></button>
            </mat-card-actions>
        </mat-card>
    </div>
    <button mat-button (click)="previousState()"><span class="d-md-inline" jhiTranslate="tennisJazzApp.tournament.back">BACK T0 TOURNAMENT</span></button>
</div>
